---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Pitch from "../components/Pitch.astro";
import Motivation from "../components/Motivation.astro";
import Leadership from "../components/Leadership.astro";
import Footer from "../components/Footer.astro";
import GlobalNav from "../components/GlobalNav.astro";
---

<Layout
  title="Benjamin Fink – Fachleader Investment Performance & Risk Controlling"
  description="Leadership Assessment BLKB - Selbstpräsentation mit 5x5 Pitch, Motivation und Führungsverständnis"
>
  <Header />
  <GlobalNav />
  <main id="main-content">
    <Hero />
    <Pitch />
    <Motivation />
    <Leadership />
  </main>
  <Footer />
</Layout>
